body {
	background-color: rgb(10, 10, 10);
	font-family: freesans;
}

h1 {
	text-align: center;
	color: rgb(255, 102, 102);
}


p {
	text-align: center;
	color: rgb(245, 245, 245);
}

a:link {
	color: rgb(255, 153, 153);
	text-decoration: none;
}

a:visited {
	color: rgb(255, 153, 153);
}

a:hover {
	color: rgb(255, 102, 102);
}

#homepage_img {
    width: 20%;
}

#homepage_img_div {
    text-align: center;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(30, 30, 30);
}

#nav_element a, #navbar_title {
    display: block;
    color: rgb(255, 153, 153);
    float: left;
    /* RELIANT ON PIXELS! Consider changing this to make it more friendly for different screen sizes. */
    padding: 16px;
}

#nav_element a:hover {
    background-color: rgb(10, 10, 10);
}